/* 

DEBUG
=====

Useful debug tools

*/

// Highlight any images with empty alt tag https://twitter.com/AllThingsSmitty/status/930617039085035520
img[alt=""],
img:not([alt]),
.todo {
	outline: 4px dashed red;
	position: relative;
	&:hover {
		&:after {
			padding: 5px;
			text-align: center;
			position: absolute;
			content: "Missing an ALT tag";
			bottom: 100%;
			right: 0;
			left: 0;
			top: auto;
			margin: auto;
			max-width: 200px;
			background: #111;
			border: 3px solid red;
			color: white;
			font-size: 11px;
			line-height: 1.25;
			text-transform: none !important;
			}
		}	
	}

// When a class of todo is added to an element in the HTML it will highlight it so we know something needs doing. 
.todo {
	outline: 2px dashed red;
	&:hover {
		&:after {
			content: "Something needs finishing - check source comments and remove html todo class when finished";
			}
		}
	}