.styleguide-item-name {
	@include bg($green-base,1);
	border-bottom: 2px solid $green-dark;
	border-top: 5px solid $green-light;
	@include color($white,1);
	text-align: left;
	padding: 1.5rem; 
	margin: 5rem 0 0;
	p {
		font-weight: 400; 
		margin: 0 0 .5rem;
		&:first-of-type {
			font-weight: 700;
			font-size: 1.25rem; 
			}
		&:last-of-type {
			margin-bottom: 0;
			}
		}
	}

ul, ol {
	margin: 0 0 1.5em 0;
	}

img,
a img {
	max-width: 100%;
	}


blockquote {

	cite {

		}
	}

figure, img {

	}

figure {

	figcaption {

		}
	}

[type=submit] {
	cursor: pointer;
	}

.tweet {
	background-color: #c9deef;
	border: 1px solid #a2ceef;
	border-radius: .125rem;
	display: inline-block;
	padding: $space/2 $space;
	margin-top: $space;
	iframe {
		position: relative !important;
		top: .25rem;
		left: .25rem;
		}
	}