// Global reset styles
*,
*:after,
*:before {
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,menu,nav,section,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent
	}

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block
	}

nav ul {
	list-style: none
	}

blockquote,
q {
	quotes: none
	}

	blockquote:before,
	blockquote:after,
	q:before,
	q:after {
		content: '';
		content: none
		}

a {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent
	}

ins,
mark {
	background: yellow;
	color: #444;
	text-decoration: none
	}

mark {
	display: inline-block;
	padding: .1em;
	text-shadow: none;
	background: #f2d3a9;
	color:#a93901;
	}

del {
	text-decoration: line-through
	}

abbr[title],
dfn[title] {
	border-bottom:1px dotted #000;
	cursor:help
	}

table {
	border-collapse: collapse;
	border-spacing:0
	}

hr{
	display: block;
	height: 1px;
	border:0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding:0
	}

::selection {
	text-shadow: none;
	background: #a0232e;
	color:#fff;
	}

// Form reset styles
form {
    margin: 0;
    }

fieldset {
    margin: 0;
    padding: 0;
    }

legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px;
    }

button,
input,
select,
textarea {
    font-size: 100%;
    font-family: inherit;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
    }

button,
input {
    line-height: normal;
    }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible;
    }

button[disabled],
input[disabled] {
    cursor: default;
    }

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px;
    }

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    }

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
    }

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
    }