// "Headroom" nav bar at top of pages
#header {
    overflow: hidden;
    background: blue;
    padding: 1em;
    //@include bg($white,1);
    display: block;
    position: fixed;
    width: 100%;
    z-index: 5000;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
        &.slide--up {
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
            @include bp-xl {
            // Disable at larger screen sizes
            /* -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0); */
            }
        }
    }