/*

	LAYOUT GRID
	=========
	
	The layout grid is a modified version of Kraken (http://kraken.io). Documentation and examples are available on the Kraken site if needed. 
	
	NOTE: We use number classes up to 12 to enable compatability with Umbraco's Grid package 
*/

// Layout & Grid Variables
$container-max: 80rem;
$container-width: 100%;

// Grid
$grid-margins: 1.4%;
$space: 1.5rem;

// Use ".grid-1", "grid-6" etc
$grid-sizes: (
	1: 8.33333%,
	2: 16.66667%,
	3: 25%,
	4: 33.33333%,
	5: 41.66667%,
	6: 50%,
	7: 58.33333%,
	8: 66.66667%,
	9: 75%,
	10: 83.33333%,
	11: 91.66667%,
	12: 100%
	);

// breakpoint, prefix, include offsets (boolean) - unless specified with a row-start-xxx class, the grid will be 100% blocks until screen size is at the xlarge breakpoint. You can customise this below.
$grid-breakpoints: ( 
	($bp-xsmall, ".row-start-xsmall", false),
	($bp-small, ".row-start-small", false),
	($bp-medium, ".row-start-medium", false),
	($bp-large, ".row-start-large", false),
	//($bp-xlarge, ".row-start-xlarge", false),
	($bp-xlarge, null, true)
	);

%grid-base {
	float: left;
	width: 100%;
	padding-left: $grid-margins;
	padding-right: $grid-margins;
	@extend %clearfix;
	}

@each $grid, $width in ($grid-sizes) {
	.grid-#{$grid} {
		@extend %grid-base;
		}
	}

 // Add columns to grid on bigger screens
@each $breakpoint, $prefix, $offset in ($grid-breakpoints){
	@media (min-width: $breakpoint) {
		@each $grid, $width in ($grid-sizes) {
		#{$prefix} .grid-#{$grid} {
			width: $width;
			}
		}
			@if $offset {
			@each $grid, $width in ($grid-sizes) {
				#{$prefix} .offset-#{$grid} {
					margin-left: $width;
					}
				}
			}
		}
	}

// The Grid
.container {
	width: $container-width;
	max-width: $container-max;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding-left: $space/2;
	padding-right: $space/2;
	@extend %clearfix;
	@include bp-xxl {
		//padding-left: 0;
		//padding-right: 0;
		}
	&--small {
		max-width: $container-max/2;
		}
	&--mid {
		max-width: $container-max/1.25;
		}
	&--full {
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
			}
	}

	.row {
		margin-left: $grid-margins * -1;
		margin-right: $grid-margins * -1;
		@extend %clearfix;
		
		div {
			// This is just to make the grid visible for demo purposes, it's not needed for any dev work
			outline: 1px solid green;
			}
		
		}

.no-pad {
	padding: 0;
	&--top {
		padding-top: 0;
		}
	&--right {
		padding-right: 0;
		}
	&--bottom {
		padding-bottom: 0;
		}
	&--left {
		padding-left: 0;
		}
	}

// Grid position options
// Reverse order
.grid-flip {
	float: right;
	}

// Align to center
.float-center {
	float: none;
	margin-left: auto;
	margin-right: auto;
	}