/*

LAYOUT
======

Top level layout - should only contain a couple of bits and pieces for <HTML>, <body> and perhaps some main wrappers. 

Grid structure for this project uses Susy Grids and the grid layout is applied in the scss for each element rather than using grid classes in the HTML. 

If you're not sure how to do this, please consult the documentation available at: 

- Susy Docs: http://susydocs.oddbird.net/en/latest/
- Susy Tutorials/Demos: http://susy.oddbird.net/demos/ 

*/

html {
	overflow-x: hidden;
	}


body {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	@include bg($white, 1);
	}


// Test layout
main {
	outline: 2px solid red;
	background: yellow;
	@include container;
	}

article {
	background: pink;
	@include span(5 of 12 0);
	// No gutters on the right https://github.com/oddbird/susy/issues/502
	}

	.extra {
		background: green;
		@include span(3 of 12 0);
		}		

	aside {	
		background: blue;
		@include span(4 of 12 0);
		}

